<div class="container">
    <h4 class="text-muted">Profissionais da Barbearia</h4>
    <div class="row mt-2" *ngIf="!isLoading">
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    {{ profissional.nome }}
                </div>
                <ul class="list-group">
                    <li class="list-group-item"><span class="font-weight-bold">Email:</span> {{ profissional.email }}
                    </li>
                    <li class="list-group-item"><span class="font-weight-bold">Telefone:</span> {{ profissional.telefone
                        | mask: '(00) 0000 0*' }}
                    </li>
                </ul>

            </div>
            <div class="text-center mb-4">
                <a class="btn btn-primary btn-lg" [routerLink]="['editar']">Editar</a>
                &nbsp;
                <a class="btn btn-light btn-lg" [routerLink]="['/profissional']">Voltar</a>
            </div>            
        </div>
    </div>
</div>