<nav class="navbar navbar-expand-lg fixed-top">
    <a class="navbar-brand" href="#">Barber Agenda <span style="font-size: 10px;">(1.0.0)</span></a>
    <button (click)="toggleSidebar()" class="navbar-toggler" type="button">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <i aria-hidden="true" class="fa fa-bars text-muted"></i>
    </button>
    <div class="collapse navbar-collapse">        
        <ul class="navbar-nav ml-auto">
            &nbsp;
          
        </ul>
    </div>
</nav>
