<div class="accordion">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button {{showCollapse ? '': 'collapsed'}}" (click)="toogleCollapse('segunda')">
                Segunda-Feira
            </button>
        </h2>
        <div class="accordion-collapse collapse {{showCollapse ? 'show': ''}}">
            <div class="accordion-body">

                <form [formGroup]="formulario" (ngSubmit)="onSubmit()">

                    Manhã

                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">De</span>
                        </div>
                        <input type="time" class="form-control" min="00:00:00" max="23:59:00"
                            formControlName="inicioManha">
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <div class="input-group-prepend">
                            <span class="input-group-text">até</span>
                        </div>
                        <input type="time" class="form-control" min="00:00:00" max="23:59:00"
                            formControlName="fimManha">
                    </div>

                    Tarde

                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">De</span>
                        </div>
                        <input type="time" class="form-control" min="00:00:00" max="23:59:00"
                            formControlName="inicioTarde">
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <div class="input-group-prepend">
                            <span class="input-group-text">até</span>
                        </div>
                        <input type="time" class="form-control" min="00:00:00" max="23:59:00"
                            formControlName="fimTarde">
                    </div>

                    <div class="row">
                        <div class="input-group d-flex justify-content-between">

                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" checked>
                                <label class="form-check-label">Barbearia Aberta</label>
                            </div>
                            <button type="submit" class="btn btn-success btn-md" [disabled]="!formulario.valid">Salvar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>