<div class="container-fluid h-100" style="background-color: black;">
    <div class="row h-100">
        <div class="col-12" style="background-color: black;">
            <div class="row justify-content-md-center">
                <app-barbearia-header [barbearia]="barbearia"></app-barbearia-header>
                
                <div class="col-sm-4 col-12">
                                        <!-- progressbar -->
                    <!-- <ul id="progressbar">
            <li [ngClass]="step>=1 ? 'active ' : 'inactive'">Personal Details</li>
            <li [ngClass]="step>=2 ? 'active' : 'inactive'">Social Profiles</li>
            <li [ngClass]="step==3 ? 'active' : 'inactive'">Account Setup</li>
        </ul>-->

                    <!-- IDENTIFICACAO -->
                    <form [formGroup]="identificacao" id="msform">
                        <fieldset *ngIf="step == 1 && !isAgendado">
                            <h2 class="fs-title">IDENTIFICAÇÃO</h2>
                            <input type="text" formControlName="nome" placeholder="Seu nome"
                                class="form-control ng-untouched ng-pristine ng-valid mt-3" maxlength="100" />
                            <app-error-msg [control]="identificacao.get('nome')" label="Nome"></app-error-msg>

                            <input type="text" formControlName="email" name="email" placeholder="Seu e-mail"
                                class="form-control ng-untouched ng-pristine ng-valid mt-3" />
                            <app-error-msg [control]="identificacao.get('email')" label="Email"></app-error-msg>

                            <input type="text" formControlName="telefone" name="telefone" placeholder="Seu telefone"
                                class="form-control ng-untouched ng-pristine ng-valid mt-3" mask="(00) 0*"
                                maxlength="20" minlength="11" />
                            <app-error-msg [control]="identificacao.get('telefone')" label="Telefone"></app-error-msg>

                            <button (click)="next()" type="button" class="action-button mt-3"
                                [disabled]="!identificacao.valid">Próximo</button>
                        </fieldset>
                    </form>

                    <!-- SELECIONE BARBEIRO/SERVICO -->
                    <form [formGroup]="servico" id="msform">
                        <fieldset *ngIf="step == 2 && !isAgendado">
                            <h2 class="fs-title">SERVIÇO</h2>


                            <select class="form-control input-underline input-lg mb-3" formControlName="profissonal"
                                (change)="onChangeProfissional()">
                                <option value="" disabled selected>Selecione um barbeiro</option>
                                <option [ngValue]="profissonal.id" class="dropdown-item"
                                    *ngFor="let profissonal of barbearia.profissionais">
                                    {{profissonal.nome}}</option>
                            </select>

                            <h6 class="fs-subtitle" *ngIf="isServicoEnable"> Selecione um serviço </h6>
                            <select class="form-control input-underline input-lg mb-3" formControlName="servico"
                                *ngIf="isServicoEnable">
                                <option value="" disabled selected>Selecione um Serviço</option>
                                <option [ngValue]="servico.id" class="dropdown-item" *ngFor="let servico of servicos">
                                    {{servico.descricao}} ({{ servico.valor | currency:'R$ ' }})</option>
                            </select>

                            <button (click)="previous()" type="button" name="previous"
                                class="previous action-button-previous mt-3" value="Previous">
                                Voltar
                            </button>

                            <button (click)="next()" type="button" name="next" class="next action-button mt-3"
                                value="Next" [disabled]="!servico.valid">Próximo</button>
                        </fieldset>
                    </form>



                    <!-- SELECIONE HORARIO -->
                    <form id="msform">
                        <fieldset *ngIf="step == 3 && !isAgendado">
                            <h2 class="fs-title">DATA</h2>

                            <aa-animatepicker [options]="datepickerOptions" language="pt-BR" [(selectedDates)]="dates"
                                (click)="onChangeData()">
                            </aa-animatepicker>

                            <div class="row justify-content-md-center">
                                <div class="col-12">
                                    <h6 class="fs-subtitle" *ngIf="horarioWtihClasses.length > 0">Selecione um horário
                                    </h6>
                                    <span *ngFor="let horario of horarioWtihClasses"
                                        class="badge badge-warning m-1 p-3 {{horario.classe}}"
                                        (click)="onChangeHorario(horario.horario)">
                                        {{horario.horario | mask: '00:00'}}
                                    </span>
                                </div>
                            </div>

                            <button (click)="previous()" type="button" name="previous"
                                class="previous action-button-previous mt-3" value="Previous">
                                Voltar
                            </button>
                            <button (click)="submit()" type="submit" name="submit" class="submit action-button"
                                value="Submit" [disabled]="!isValidHorario">
                                <span class="spinner-border spinner-border-sm mt-3" role="status" aria-hidden="true"
                                    *ngIf="isSalvandoAgendamento"></span>
                                Agendar
                            </button>
                        </fieldset>
                    </form>

                    <!-- AGENDADO COM SUCESSO -->
                    <div *ngIf="isAgendado" class="p-3 text-center">
                        <h2 class="fs-title">AGENDADO</h2>
                        <i class="fa fa-3x fa-check-circle" aria-hidden="true" style="color:forestgreen;"></i>
                        <div class="mt-3" style="color: white;">
                            <h6>Obrigado!</h6>
                        </div>
                        <button (click)="onAgendarNovamente()" class="submit action-button">
                            Agendar novamente
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>