<div class="row"   id="agenda">
    <div class="col col-xl-12 col-lg-12">
        <div class="card mb-3">
            <div class="card-header col-xl-12">
                <div class="d-flex justify-content-between">
                    <button type="button" class="btn btn-secondary btn-sm" (click)="previusDay()"><</button>
                    <div>
                        <input type="date" class="form-control" [(ngModel)]="dataAgenda" (change)="specificDay()">                    
                    </div>
                    <button type="button" class="btn btn-secondary btn-sm" (click)="nextDay()">></button>
                </div>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-sm table-striped">
                    <thead>
                        <tr>
                            <th class="d-inline-block col-3 font-12">Horário</th>
                            <th class="d-inline-block col-5 font-12">Nome</th>
                            <th class="d-inline-block col-4 font-12">Serviço</th>                          
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let agendamento of agendamentos">
                            <tr (click)="openModal(agendamento.id)" app-item-agendamento [agendamento]="agendamento"></tr>
                            <app-agendamento-detalhes id="{{agendamento.id}}" [agendamento]="agendamento"></app-agendamento-detalhes>                            
                        </ng-container>
                        
                    </tbody>
                </table>
                <div class="alert alert-danger" role="alert" *ngIf="hasError">
                    Não foi possível buscar os agendamentos. Entre em contato com o suporte.
                </div>
                <div class="alert alert-info" role="alert" *ngIf="isEmptyAgendamentos()">
                    Você não possui agendamentos para este dia.
                </div>                  
                <div class="text-center">
                    <div class="spinner-border" role="status" *ngIf="isLoading">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>