<div class="container">
    <h4 class="text-muted mb-4">Meus Horários</h4>
    <div class="row mt-2" *ngIf="!isLoading">
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Editar
                </div>
                <!--  ASSIM QUE TODOS OS DIAS TIVEREM DADOS NO BACK, DA PRA LIBERAR OS OUTROS DIAS -->
                <app-dia-semana [expedientes]="expedientes" [diaSemana]="diaSemanaService.diasSemana[0]"></app-dia-semana>
                <app-dia-semana [expedientes]="expedientes" [diaSemana]="diaSemanaService.diasSemana[1]"></app-dia-semana>
                <app-dia-semana [expedientes]="expedientes" [diaSemana]="diaSemanaService.diasSemana[2]"></app-dia-semana>
                <app-dia-semana [expedientes]="expedientes" [diaSemana]="diaSemanaService.diasSemana[3]"></app-dia-semana>
                <app-dia-semana [expedientes]="expedientes" [diaSemana]="diaSemanaService.diasSemana[4]"></app-dia-semana>
                <app-dia-semana [expedientes]="expedientes" [diaSemana]="diaSemanaService.diasSemana[5]"></app-dia-semana>
                <app-dia-semana [expedientes]="expedientes" [diaSemana]="diaSemanaService.diasSemana[6]"></app-dia-semana>
            </div>
                        
        </div>
    </div>
</div>


