<div class="container">
    <h4 class="text-muted mb-4">O que você deseja configurar?</h4>


    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center p-3" [routerLink]="['/barbearia']">
            <span><i class="fa fa-lg fa-home"></i>
                &nbsp;
                Barbearia
            </span>
            <span class="badge badge-primary badge-pill">
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </span>
        </li>

        <li class="list-group-item d-flex justify-content-between align-items-center p-3" [routerLink]="['/profissional']">
            <span><i class="fa fa-lg fa-user"></i>
                &nbsp;
                Profissionais
            </span>
            <span class="badge badge-primary badge-pill">
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </span>
        </li>

        <li class="list-group-item d-flex justify-content-between align-items-center p-3" [routerLink]="['/servicos']">
            <span><i class="fa fa-lg fa-scissors"></i>
                &nbsp;
                Serviços
            </span>
            <span class="badge badge-primary badge-pill">
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </span>
        </li>

        <li class="list-group-item d-flex justify-content-between align-items-center p-3" [routerLink]="['/config-agenda']">
            <span><i class="fa fa-lg fa-clock-o"></i>
                &nbsp;
                Horários do Expediente
            </span>
            <span class="badge badge-primary badge-pill">
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </span>
        </li>

    </ul>
</div>