<div class="container">
    <h4 class="text-muted mb-4">Meus Serviços</h4>
    <div class="row">
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Editar
                </div>
                <div class="text-center m-4" *ngIf="isLoading">
                    <div class="spinner-border text-dark" role="status">
                    </div>
                </div>
                <div class="card-body" *ngIf="!isLoading">
                    <table class="table table-sm table-striped">
                        <thead>
                            <tr class="font-12">
                                <th>Descrição</th>
                                <th class="text-center">Tempo</th>
                                <th class="text-center">Valor</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="font-12" *ngFor="let servico of servicos" (click)="goToEditar(servico.id)">
                                <td>{{ servico.descricao }}</td>
                                <td class="text-center">{{ servico.tempo | mask: '00:00'}}h</td>
                                <td class="text-center">{{ servico.valor | currency:'R$ ' }}</td>
                            </tr>
                        </tbody>
                    </table>                                        
                </div>
            </div>
            <div class="text-center">
                <a class="btn btn-success btn-lg" [routerLink]="['novo']">Adicionar
                </a>
            </div>
        </div>
    </div>
</div>