<div class="container">
    <h4 class="text-muted mb-4">Meus Serviços</h4>
    <div class="row">
        <div class="col col-sm-6">
            <div class="card mb-3">
                <div class="card-header">
                    Editar
                </div>
                <div class="card-body">
                    <table class="table table-sm table-striped">
                        <thead>
                            <tr class="font-12">
                                <th>Descrição</th>
                                <th class="text-center">Tempo</th>
                                <th class="text-center">Valor</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="font-12" *ngFor="let servico of servicos" (click)="goToEditar(servico.id)">
                                <td>{{ servico.nome }}</td>
                                <td class="text-center">{{ servico.tempo }}</td>
                                <td class="text-center">{{ servico.valor | currency:'R$ ' }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-success" routerLink="novo">Adicionar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>