<div class="container">
    <h4 class="text-muted mb-4">Minha Barbearia</h4>
    <div class="row">
        <div class="col col-sm-6">
            <form [formGroup]="formulario" (ngSubmit)="onSubmit()">

                <!-- CONTATO-->
                <div class="card mb-3">
                    <div class="card-header">
                        Contato
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Nome da Barbearia</label>
                            <input type="text" class="form-control" formControlName="nomeBarbearia">
                            <app-error-msg [control]="formulario.get('nomeBarbearia')" label="Nome da Barbearia"></app-error-msg>
                        </div>
                        <div class="form-group">
                            <label>WhatsApp da Barbearia</label>
                            <input type="text" class="form-control" formControlName="whatsapp">
                            <app-error-msg [control]="formulario.get('whatsapp')" label="WhatsApp"></app-error-msg>
                        </div>
                    </div>
                </div>

                <!--ENDERECO-->
                <div class="card mb-3">
                    <div class="card-header">
                        Endereço
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label>Cep</label>
                            <input type="text" class="form-control" formControlName="cep" (blur)="onBlurCep()">
                            <app-error-msg [control]="formulario.get('cep')" label="CEP "></app-error-msg>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-8">
                                <label>Rua</label>
                                <input type="text" class="form-control" formControlName="rua">
                                <app-error-msg [control]="formulario.get('rua')" label="Rua"></app-error-msg>
                            </div>
                            <div class="form-group col-sm-4">
                                <label>Número</label>
                                <input type="text" class="form-control" formControlName="numero">
                                <app-error-msg [control]="formulario.get('numero')" label="Número"></app-error-msg>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Complemento</label>
                            <input type="text" class="form-control" formControlName="complemento">
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-8">
                                <label>Cidade</label>
                                <input type="text" class="form-control" formControlName="cidade">
                                <app-error-msg [control]="formulario.get('cidade')" label="Cidade"></app-error-msg>
                            </div>
                            <div class="form-group col-sm-4">
                                <label>Estado</label>
                                <input type="text" class="form-control" formControlName="estado">
                                <app-error-msg [control]="formulario.get('estado')" label="Estado"></app-error-msg>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-success btn-lg">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>