<div class="container">

    <div class="col col-md-4">

        <div class="col-md-12">
            <img class="img-fluid" src="assets/images/logo.png"/>
        </div>

        <div class="row mt-4">
            <div class="col mr-2 item-menu">
                <span class="menu-icon"><i class="fa fa-lg fa-address-book-o"></i></span>
                <span class="center-text">
                    Agenda
                </span>
            </div>
            <div class="col mr-2 item-menu">
                <span class="menu-icon"><i class="fa fa-lg fa-home"></i></span>
                <span class="center-text">
                    Barbearia
                </span>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col mr-2 item-menu">
                <span class="menu-icon"><i class="fa fa-lg fa-user"></i></span>
                <span class="center-text">
                    Profissionais
                </span>
            </div>
            <div class="col mr-2 item-menu">
                <span class="menu-icon"><i class="fa fa-lg fa-scissors"></i></span>
                <span class="center-text">
                    Serviços
                </span>
            </div>
        </div>
        
        <div class="row mt-2">
            <div class="col mr-2 item-menu">
                <span class="menu-icon"><i class="fa fa-lg fa-wrench"></i></span>
                <span class="center-text">
                    Configurar
                </span>
            </div>
            <div class="col mr-2 item-menu-reverse">
                <span class="menu-icon"><i class="fa fa-lg fa-sign-out"></i></span>
                <span class="center-text">
                    Sair
                </span>
            </div>
        </div>        
    </div>
</div>