<div class="container">

    <div class="col col-md-4">

        <div class="col-md-12 mt-2">
            <img class="img-fluid user-avatar" src="assets/images/logo.png" />
        </div>

        <div class="row mt-4">
            <div class="col mr-2 item-menu" [routerLink]="['/agenda']">
                <span class="menu-icon"><i class="fa fa-lg fa-address-book-o"></i></span>
                <span class="center-text">
                    Agenda
                </span>
            </div>
            <div class="col mr-2 item-menu" [routerLink]="['settings']">
                <span class="menu-icon"><i class="fa fa-lg fa-wrench"></i></span>
                <span class="center-text">
                    Configurações
                </span>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col mr-2 item-menu">
                <a [href]="linkSuporte" target="_blank" class="link-suporte">
                    <span class="menu-icon"><i class="fa fa-lg fa-comments"></i></span>
                    <span class="center-text">
                        Suporte
                    </span>
                </a>
            </div>
            <div class="col mr-2 item-menu-reverse" (click)="logout()">
                <span class="menu-icon"><i class="fa fa-lg fa-sign-out"></i></span>
                <span class="center-text">
                    Sair
                </span>
            </div>
        </div>
    </div>
</div>