 .item-menu{
    background: #FAB927;
    height: 100px;    
  }

  .item-menu-reverse{
    background: #262626;
    height: 100px;
    color: #FAB927;    
  }  

  .center-text{
    display: flex;
    justify-content: center;    
  }

.menu-icon {
    display: block;
    padding-top: 30px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
}

.user-avatar {
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #fff;
}

  
    