 .item-menu{
    background: red;    
    height: 100px;    
  }

  .center-text{
    display: flex;
    justify-content: center;    
  }

  .menu-icon {
    display: block;
    padding-top: 30px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
}

  
    