<div class="container">
    <h4 class="text-muted mb-4">Minha Barbearia</h4>
    <div class="row">
        <div class="col col-sm-6">
            <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
                <div class="card mb-3">
                    <div class="card-header">
                        Editar Informações
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Nome da Barbearia</label>
                            <input type="text" class="form-control" formControlName="nomeBarbearia">
                            <app-error-msg [control]="formulario.get('nomeBarbearia')" label="Nome da Barbearia">
                            </app-error-msg>
                        </div>
                        <div class="form-group">
                            <label>Cep</label>
                            <input type="text" class="form-control" formControlName="cep" (blur)="onBlurCep()">
                            <app-error-msg [control]="formulario.get('cep')" label="CEP "></app-error-msg>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-8">
                                <label>Rua</label>
                                <input type="text" class="form-control" formControlName="rua" readonly>
                            </div>
                            <div class="form-group col-sm-4">
                                <label>Número</label>
                                <input type="text" class="form-control" formControlName="numero">
                                <app-error-msg [control]="formulario.get('numero')" label="Número"></app-error-msg>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Complemento</label>
                            <input type="text" class="form-control" formControlName="complemento">
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-8">
                                <label>Cidade</label>
                                <input type="text" class="form-control" formControlName="cidade" readonly>
                            </div>
                            <div class="form-group col-sm-4">
                                <label>Estado</label>
                                <input type="text" class="form-control" formControlName="estado" readonly>
                            </div>
                        </div>



                        <div class="form-group">
                            <label>Telefone</label>
                            <input type="text" class="form-control" formControlName="telefone">
                            <app-error-msg [control]="formulario.get('telefone')" label="Telefone"></app-error-msg>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" formControlName="isWhastapp">
                            <label class="form-check-label">
                                Este número tem WhatsApp
                            </label>
                        </div>




                    </div>

                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-success btn-lg">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>