<div [@routerTransition] class="login-page">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img class="user-avatar" src="assets/images/logo.png" width="200px" />            
            <form role="form" [formGroup]="formulario" (ngSubmit)="onSubmit()">
                <div class="form-content">
                    <div class="form-group">
                        <input placeholder="Nome completo" class="form-control input-underline input-lg" type="text"
                            formControlName="nome" />
                        <app-error-msg [control]="formulario.get('nome')" label="Nome Completo"></app-error-msg>
                    </div>

                    <div class="form-group">
                        <input placeholder="Email" class="form-control input-underline input-lg" type="text"
                            formControlName="email" />
                        <app-error-msg [control]="formulario.get('email')" label="Email"></app-error-msg>
                    </div>

                    <div class="form-group">
                        <input placeholder="Senha" class="form-control input-underline input-lg" type="password"
                            formControlName="senha" />
                        <app-error-msg [control]="formulario.get('senha')" label="Senha"></app-error-msg>
                    </div>
                    <div class="form-group">
                        <input placeholder="Repita a senha" class="form-control input-underline input-lg"
                            type="password" formControlName="senhaRepeat" />
                        <app-error-msg [control]="formulario.get('senhaRepeat')" label="Repita a senha"></app-error-msg>
                       
                    </div>
                </div>
                <button type="submit" class="btn rounded-btn" [disabled]="!formulario.valid">Registrar</button>
                &nbsp;
                <a [routerLink]="['/login']" class="btn rounded-btn">Voltar</a>
            </form>
        </div>
    </div>
</div>