<div class="col-md-12">
    Obrigado!
    <br>
    Agendado para dia {{agendamento.data | date: 'dd/MM/yyyy'}} às {{agendamento.horario | mask: '00:00'}}.
    <br>
    Você fará <strong>{{ agendamento.servico }}</strong> com o barbeiro {{ agendamento.nomeProfissonal }} por apenas {{
    agendamento.valor | currency:'R$ ' }}.
    <br>
    Aguardamos você!
</div>
<div class="col-md-12">
    <br>
    <button type="button" (click)="fazerOutroAgendamento()" class="btn rounded-btn">Fazer outro agendamento
    </button>
</div>