<nav [ngClass]="{ sidebarPushRight: isActive, collapsed: collapsed }" class="sidebar">
    <div class="list-group">
        <a [routerLinkActive]="['router-link-active']" class="list-group-item" routerLink="/dashboard">
            <i class="fa fa-fw fa-address-book"></i>&nbsp;
            <span>Agenda</span>
        </a>
        
        

        <div class="nested-menu">
            <a (click)="addExpandClass('pages')" class="list-group-item">
                <i class="fa fa-fw fa-gear"></i>&nbsp;
                <span>Configurações</span>
            </a>
            <li [class.expand]="showMenu === 'pages'" class="nested">
                <ul class="submenu">
                    <li>
                        <a [routerLinkActive]="['router-link-active']" class="list-group-item"
                            [routerLink]="['/barbearia']">
                            <i class="fa fa-fw fa-home"></i>&nbsp;
                            <span>Barbearia</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLinkActive]="['router-link-active']" class="list-group-item"
                            [routerLink]="['/profissional']">
                            <i class="fa fa-fw fa-user"></i>&nbsp;
                            <span>Profissional</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLinkActive]="['router-link-active']" class="list-group-item"
                            [routerLink]="['/servicos']">
                            <i class="fa fa-fw fa-scissors"></i>&nbsp;
                            <span>Serviços</span>
                        </a>
                    </li>                    
                </ul>
            </li>
        </div>
        <a [routerLinkActive]="['router-link-active']" [routerLink]="['/charts']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
            <span>{{ 'Charts' | translate }}</span>
        </a>
    </div>
    <div (click)="logout()" class="toggle-button">
        <i class="fa fa-fw fa-sign-out"></i>&nbsp;
        <span>Sair</span>
    </div>    
</nav>