<app-barbearia-header [barbearia]="barbearia" *ngIf="!isLoading"></app-barbearia-header>
<div class="login-page" *ngIf="!isLoading">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <form role="form" [formGroup]="formulario" (ngSubmit)="onSubmit()" *ngIf="!isAgendamentoAgendado">
                <div class="form-content">
                    <!-- NOME -->
                    <div class="form-group">
                        <input placeholder="Digite seu nome" class="form-control input-underline input-lg" type="text"
                            formControlName="nome" />
                    </div>

                    <!-- TELEFONE -->
                    <div class="form-group">
                        <input placeholder="Digite seu telefone com DDD" class="form-control input-underline input-lg"
                            type="text" formControlName="telefone" mask="(00) 0*" maxlength="20" minlength="10">
                    </div>

                    <!-- BARBEIRO -->
                    <div class="form-group">
                        <select class="input-underline input-lg w-100 text-left color-placeholder"
                            formControlName="profissonal" (change)="onChangeProfissional()">
                            <option value="" disabled selected>Selecione um barbeiro</option>
                            <option [ngValue]="profissonal.id" class="dropdown-item"
                                *ngFor="let profissonal of barbearia.profissionais">
                                {{profissonal.nome}}</option>
                        </select>
                    </div>

                    <!-- SERVICO -->
                    <div class="form-group" *ngIf="isServicoEnable">
                        <select class="input-underline input-lg w-100 text-left color-placeholder"
                            formControlName="servico" (change)="onChangeServico()">
                            <option value="" disabled selected>Selecione um Serviço</option>
                            <option [ngValue]="servico.id" class="dropdown-item" *ngFor="let servico of servicos">
                                {{servico.descricao}} ({{ servico.valor | currency:'R$ ' }})</option>
                        </select>
                    </div>

                    <!-- DATA -->
                    <div class="form-group" *ngIf="isDataEnable">
                        <input type="text" placeholder="Selecione uma data" formControlName="data"
                            class="form-control input-underline input-lg placeholder" onfocus="(this.type = 'date')"
                            (change)="onChangeData()" />
                    </div>

                    <!-- HORARIOS -->
                    <div class="form-group" *ngIf="isHorariosEnable">
                        <select class="input-underline input-lg w-100 text-left color-placeholder"
                            formControlName="horario">
                            <option value="" disabled selected>Selecione um Horário</option>
                            <option [ngValue]="horario" class="dropdown-item" *ngFor="let horario of horarios">
                                {{horario | mask: '00:00'}}</option>
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn rounded-btn">Agendar
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                        *ngIf="isSalvandoAgendamento"></span>
                </button>
            </form>

            <app-pronto [agendamento]="agendamento" *ngIf="isAgendamentoAgendado"
                [callbackFazerOutroAgendamento]="boundedCallbackFazerOutroAgendamento"></app-pronto>
        </div>
    </div>
</div>