<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="card-body">
        <div class="form-group">
            <label>Nome</label>
            <input type="text" class="form-control" formControlName="nome">
            <app-error-msg [control]="formulario.get('nome')" label="Nome"></app-error-msg>
        </div>

        <div class="row">
            <div class="form-group col-sm-6">
                <label>Tempo (em minutos)</label>
                <input type="text" class="form-control" formControlName="tempo" mask="0*" maxlength="3">
                <app-error-msg [control]="formulario.get('tempo')" label="Tempo"></app-error-msg>
            </div>


            <div class="form-group col-sm-6">
                <label>Valor</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">R$</span>
                    </div>
                    <input type="text" class="form-control" formControlName="valor" mask="separator.2"
                        thousandSeparator="." maxlength="10">
                    <app-error-msg [control]="formulario.get('valor')" label="Valor"></app-error-msg>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-success btn-lg" [disabled]="!isFormValido()">Salvar</button>
        </div>
    </div>
</form>